@layer reset, defaults, frameworks, components, pages, utilities, overrides;

@layer reset {
  @import './reset';
}

@import './constants';

@layer components {
  @import '../shared/ui/import';
}

@layer defaults {
  * {
    box-sizing: border-box;
    color: var(--main-color);
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: var(--main-background);
  }
}
