html,
body {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  background-color: transparent;
  border: none;
  outline: 0;
}

a,
button {
  cursor: pointer;
}
