@import './ui/import';

.header {
  box-shadow: 0 1px 4px 0 rgba(var(--border-rgb), 0.5);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__menu {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__link {
    padding: 16px;
  }
}
